body:not([censor-disabled]) img:not([img-behaviour="video"]):not([censor-state="censored"]) {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

img:not([img-behaviour="video"])[censor-state="censored"], img:not([gif-behaviour="video"])[censor-state="excluded"] {
    visibility: visible !important;
}

body:not([censor-disabled]) div:not([censor-style="censored"])[style*="background-image: url("] div:not([censor-style="excluded"])[style*="background-image: url("] {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}
