video[censor-state='censored'] {
    min-height: 250px;
    max-height: 100% !important;
    max-width: 100% !important;
}

img[src$=".gif"][censor-state='censored'] {
    min-height: 250px;
    max-height: 100% !important;
    max-width: 100% !important;
}